.hedwig-demo {
  margin-left:10px;margin-right:10px;height:150px;
  border: 1px solid gray;
}

@view(sc-static-content-view) {
  font-size: 1.2em;
  h1 {
    font-size: 1.5em;
  }


  h1, h2, h3, h4 {
    color: rgb(80,120,170);
  }
}