.hedwig-demo {
  margin-left:10px;margin-right:10px;height:150px;
  border: 1px solid gray;
}

@view(sc-static-content-view) {
  -webkit-user-select: text;
  font-size: 1.2em;
  h1 {
    font-size: 1.5em;
  }


  h1, h2, h3, h4 {
    color: rgb(80,120,170);
  }
  
  code {
    font-family: Monaco, Inconsolata, Courier, fixed-width;
    font-size: 12px;
  }
  
  pre code {
    margin-right: 1em;
    border: 1px solid #a0b0a0;
    overflow-y: hidden;
    overflow-x: auto;
    background: #f5f9f5;
    display:block;
    padding: 1em;
  } 
  
  code .class { color: rgb(0, 0, 150); }
  
  /*code .variable { color: rgb(10, 70, 10); }*/
  code .comment { color: rgb(100, 150, 200); }
  code .string { color: rgb(0, 100, 10); }
  code .number { color: rgb(0, 0, 255); }
  code .keyword, code .this { color: rgb(25, 110, 25); font-weight: bold; }
}