@view(sc-static-content-view) {
  -webkit-user-select: text;
  font-size: 1.2em;
  
  .hedwig-demo {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#D9D9D9));
    color: rgb(70,70,70);
    text-shadow: 0px 1px 1px rgba(255,255,255,.7);
    font-weight:bold;
    font-size:18px;
    padding:10px;
    padding-bottom:13px;
    text-align:center;
    width:150px;
    margin-right:auto;
    border: 1px solid rgb(180,180,180);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  }
  
  .hedwigh-demo:active{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DEDEDE), to(#C2C2C2));
  }
  
  h1 {
    font-size: 1.5em;
  }


  h1, h2, h3, h4 {
    color: rgb(80,120,170);
  }
  
  code {
    font-family: Monaco, Inconsolata, Courier, fixed-width;
    font-size: 12px;
  }
  
  pre code {
    margin-right: 1em;
    border: 1px solid #a0b0a0;
    overflow-y: hidden;
    overflow-x: auto;
    background: #f5f9f5;
    display:block;
    padding: 1em;
  } 
  
  code .class { color: rgb(0, 0, 150); }
  
  /*code .variable { color: rgb(10, 70, 10); }*/
  code .comment { color: rgb(100, 150, 200); }
  code .string { color: rgb(0, 100, 10); }
  code .number { color: rgb(0, 0, 255); }
  code .keyword, code .this { color: rgb(25, 110, 25); font-weight: bold; }
}