@view(sc-collection-view.sc-list-view.sc-source-list).desk {
  background: sprite("bg.png" repeat-y);
  z-index: 0;
  -webkit-transform: translate3d(0px,0px,0px);
}

@view(sc-collection-view.sc-list-view.sc-source-list) .sc-list-item-view label {
  color: rgb(255,255,255);
  text-shadow: 0px -1px 1px rgba(0,0,0,.5);
  font-size: 16px;
}

@view(sc-collection-view.sc-list-view.sc-source-list) .sc-list-item-view.sc-group-item label {
  color: rgb(240,240,240);
}

@view(sc-collection-view.sc-list-view.sc-source-list) .sc-list-item-view.sel {
  border-top: 0px solid black;
  background: rgb(0,0,0);
  border-bottom: 0px solid black;
}

@view(sc-collection-view.sc-list-view.sc-source-list) .sc-list-item-view.sel {
  background: rgba(0,0,0,0.4);
}

@view(sc-collection-view.sc-list-view.sc-source-list) .sc-list-item-view.sel label {
  color: white;
  font-weight: normal;
  font-size: 16px;
}


@view(sc-collection-view.sc-list-view.sc-source-list).desk .disclosure {
  display: none;
}